<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="e87cb590-7f54-4768-9c11-d97190b8e606"
            Publisher="CN=taka"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>GameScene</DisplayName>
    <PublisherDisplayName>taka</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="GameScene.App">
        <VisualElements
            DisplayName="GameScene"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="GameScene"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>